.historique-etudiant {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}

.blue {
  color: #6EC1E4;
}


.mission-status {
  display: flex;
  align-items: center;
  gap: 8px; 
  margin: 0 15px 10px;
  font-size: 14px;
  font-weight: 600;
}

.status-icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.mission-status.submitted,
.mission-status.under_review {
  color: #facc15; 
}

.mission-status.accepted {
  color: #22c55e; 
}

.mission-status.rejected {
  color: #ef4444; 
}

.mission-status.cancelled {
  color: #9ca3af; 
}

/* ===== BOUTONS ===== */
.mission-btn {
  margin: 0 15px 15px;
  align-self: flex-start;
}

/* Bouton Bleu (Choisir cette mission) */
.linky-btn-primary {
  background-color: #6EC1E4;
  color: #fff; 
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  width: 100%; 
}

/* Bouton Outline (Annuler, Candidater à nouveau) */
.linky-btn-outline {
  background: transparent;
  border: 1px solid #000; 
  color: #000;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  width: 100%;
  transition: background 0.2s;
}

.linky-btn-outline:hover {
  background-color: #f3f4f6;
}

