.condition-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('./Condition.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 75px;
  color: white;
  height: 100vh; 
  box-sizing: border-box;
  position: relative; 
}

.condition-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(3px); 
  z-index: 1; 
}

.condition-container > * {
  position: relative;
  z-index: 2;
}

.logoo-image {
  width: 220px;
  height: auto;
}

.first-line {
  font-weight: bold; 
  text-align: center; 
}

.second-line {
  display: inline-block; 
  text-align: center; 
  margin-left: 30px; 
  font-size: 90%; 
}

.information-image img {
  max-width: 400px; 
  height: auto; 
  border-radius: 8px;
  object-fit: contain;
}

.left-content {
  width: 20%;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.left-content h3 {
  font-size: 32px; 
  font-weight: bold;
  line-height: 1.2;
}

/* Contenu de droite */
.right-content {
  width: 50%; 
  text-align: left;
  padding: 10%;
}

.right-content h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.right-content ul {
  list-style: none;
  padding: 0;
}

.right-content li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.inscription-button {
  margin-top: 20px;
  padding: 10px 30px; 
  background-color: #87CEEB;
  color: white;
  border: none;
  border-radius: 25px; 
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; 
}

.inscription-button:hover {
  background-color: #008CBA;
}

@media (max-width: 768px) {
  .condition-container {
    flex-direction: column;
    padding: 20px;
    height: auto; 
  }

  .left-content, .right-content {
    width: 100%;
    margin-left: 0;
    padding: 0;
  }

  .left-content {
    margin-bottom: 20px;
  }

  .right-content {
    padding: 0 10%;
  }

  .logoo-image {
    width: 150px;
    height: 80px;
  }

  .first-line, .second-line {
    text-align: center;
    margin-left: 0;
  }

  .information-image img {
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .condition-container {
    padding: 10px;
  }

  .left-content h3 {
    font-size: 24px;
    margin-left: 0;
  }

  .right-content h3 {
    font-size: 18px;
  }

  .inscription-button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
}